.list-wrapper {
    position: relative;
}
.list1 {
    width: 250px;
    height: 400px;
    position: absolute;
    top: 15px;
    left: 25px;
}
.list2 {
    width: 250px;
    height: 400px;
    position: absolute;
    top: 15px;
    right: 25px;
}
.list1 select, .list2 select {
    width: 100%;
    height: 100% !important;
}
.move-btn-wrapper .toright {
    position: absolute;
    width: 30px;
    height: 29px;
    top: 155px;
    left: 285px;
}
.move-btn-wrapper .toleft {
    width: 30px;
    height: 29px;
    position: absolute;
    top: 235px;
    left: 285px;
}
.modal-close {
    position: absolute;
    top: 435px;
    left: 520px;
}